{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description | markdownify }}
    </div>
    {{- end }}
</header>
{{- end }}

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    {{- $hasPublic := false }}
    {{- range .Pages }}
    {{- if not .Params.hidden }}
    {{- $hasPublic = true }}
    {{- end }}
    {{- end }}
    {{- if $hasPublic }}
    <li>
        <a href="{{ .Permalink }}">{{ .LinkTitle }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- else }}
    <li class="secret-term" style="display:none">
        <a href="{{ .Permalink }}">{{ .LinkTitle }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
    {{- end }}
</ul>

{{- end }}{{/* end main */ -}}
